

body{
	background-color:#635c5a;
	text-shadow: 1px 1px 1px gray;
    font-family: Georgia, serif;
    width:100%;
}
/* Top header and navbar */
.navbar{
    max-height:300px;
    padding:0px;
    width:100%;
}
#navbarNav {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    width: 100%;
}
.navbar-nav{
    align-items: flex-end;
    margin-top: 25px;
}
a{    
    list-style-type: none;
    padding: 5px;
    font-size:1rem;
    color: #f5e0df;
}
a:link{
    text-decoration: none;
}
a:active{
    color:rgb(4, 111, 160);
}
h3{
    margin:5px 0px;
}
.gradient{
    background-image:linear-gradient(rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
    width: 100%;
}
#home{
    display:flex;
    flex-direction: column;
    align-items:center;
	line-height: 1rem;
    margin: 0px 0px 30px 0px;
    
}
#headshot{
	border: 3px solid rgba(30, 75, 115, 1);
	height:150px;
    width:150px;
}
/* main section with cards and biography */

.center{
    width:100%;
}

#middle{
   
    background:no-repeat url("../images/center.jpg");
    background-position: center;
	margin:0px 1%;
	padding: 0px;
    border-radius: 2%;
   
}
.card-img-top{
    border-radius: 7px;
	object-fit:cover; 
	height: 300px;
	width: 100%;
}
.link-text{
	font-size: 2rem;
	font-weight: 2rem;
	max-height:20px;
	text-align: center;
    padding-bottom: 15px;
    margin:0px;
    text-shadow: 1px 1px 1px gray;
    background:#705d5c;
}
.links{
    border-radius: 7px;
	max-width: 20rem;
	height:22rem;
	background:#705d5c;
	margin:10px;
    opacity:0.45;
}
.linksLeft:hover{
	opacity: 1;
	width:21rem;
	height:22rem;
	box-shadow: 10px 6px 2px 1px rgba(82, 67, 66, .8);
	border-bottom:2px solid #1e4b73;
	border-right:3px solid #1e4b73;
	color:#f5e0df;
	text-shadow:1px 1px 1px #1e4b73;
	transition-duration: .3s;
}
.linksRight:hover{
    opacity: 1;
	width:21rem;
	height:22rem;
	box-shadow: -10px 6px 2px 1px rgba(82, 67, 66, .8);
	border-bottom:2px solid #1e4b73;
	border-left:3px solid #1e4b73;
	color:#f5e0df;
	text-shadow:1px 1px 1px #1e4b73;
	transition-duration: .3s;
}

h2{
    color: #f5e0df;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 2rem;
    text-shadow:1px 1px 1px #1e4b73;
}
#aboutMe{
    opacity:1;
	background-color: #705d5c;
	color:#f5e0df;
    width: 100%;
    height: 40%;
    overflow:auto;
    box-shadow: 6px 6px 2px 3px rgba(66, 70, 82, 0.5);
    border-radius: 4px;
    padding:5px 5px;
    line-height: 1.5rem;
    z-index: 2;
}

/* experience section */
.experience{
    border-top:3px solid #f5e0df;
    background: #5a5552;
    color:#cfbfbe;
    line-height: 2rem;
    font-size: 1rem;
    display: flex;
    padding: 1.5rem;
    margin:15px;
    text-shadow: none;
}
#leftTitle{
    text-align: left;
    justify-content: start;
    padding:0px;
}
.btn a{
    font-size: .8em;
    color:#cfbfbe; 
    
    border-radius: 5px;
}

.btn{
    margin:10px;
    background-color: #705d5c;
    border: 2px solid #5a4e4d;
}
.btn:hover{
    background-color: #a08381;
}
.title{
    text-emphasis: bold;
    list-style-type: none;
    padding: 3px 0px;
    color: #f8f0ef;
}
/* portfolio section */
#portfolio{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-between;
    border-top:3px solid #f5e0df;
    color:#cfbfbe;
    line-height: 2rem;
    font-size: 1.3rem;
    padding-left: 2rem;
    margin:15px;
    width:100%;
}
.portfolio{
    width: 500px;
    background-color:#705d5c;
    /* display:block; */
    margin:20px;
}
.portfolio h5{
    font-size: 1.5em;
    padding-bottom: 20px;
}
.portfolio img{
    margin-top:10px;
    object-fit: fill;
}

.btn-primary{
    background-color: #1e4b73;
    color:#f5e0df;
}
#portfolio h2{
    padding:5px;
}

/* contact me */
.contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:98%;
    border-top:3px solid #f5e0df;
    color:#cfbfbe;
    line-height: 2rem;
    font-size: 1.3rem;
    padding: 15px;
    text-shadow: none;
}
table{
    margin:20px;
    color:#cfbfbe;
    max-width:50%;
}
td{
    max-width: 200px;
    font-size: 1rem;
}

@media screen and (max-width: 995px){
    .navbar-nav{
        display:flex;
        flex-direction: row;
        margin:5px;
        width:100%;
    }
    .navbar-nav li{
        padding: 4px;
        
    }
    #middle{
        background:none;
        max-width: 97%;
        height: 30%;
        z-index:0;
        margin:10px;
    }
    .links{
        display:none;
    }
    
    .experience{
    display:block;
    }

    .portfolio{
    display:block;
    top:90rem;
    width:95%;
    }
    .video{
    left:3rem;
	height: 250px;
    width: 350px;
    margin:10px;
    display:block;

    }
    #first{
        height:350px;
        width:450px;
    }
    .contact{
        top:180rem;
        width:95%
    }
}